---
import { Image } from "astro:assets";

import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

import aboutImage from "../assets/images/about.webp";
import SkillCard from "../components/SkillCard.astro";

const pageTitle: string = "About Me 🙋🏽‍♂️";

interface Iidentity {
    firstName: string;
    country: string;
    occupation: string;
    hobbies: string[];
}
const identity: Iidentity = {
    firstName: "Kelvin",
    country: "Spain",
    occupation: "Frontend Developer",
    hobbies: ["Gym", "Taste some food", "Travel."],
};

const skills: string[] = ["html", "css", "javascript", "astro", "tailwind"];

const learning: string[] = ["react"];
---

<BaseLayout pageTitle={pageTitle}>
    <section class="section">
        <h2>Who am I?</h2>
        <div class="welcome-image-container">
            <Image
                src={aboutImage}
                alt="Ralph from simpsons waving"
                loading="lazy"
            />
        </div>
        <p>I'm {identity.firstName}</p>
        <p>I born in Ecuador but I live in {identity.country} since 2008</p>
        <p>
            I work as a Frontend Developer at <i>Idealista</i>.
        </p>
        <ul>
            {
                identity.hobbies.length >= 2 && (
                    <li>
                        Two of my hobbies are: {identity.hobbies[0]} and{" "}
                        {identity.hobbies[1]}
                    </li>
                )
            }
        </ul>
        <p class="subtitle">My skills</p>
        <div class="skills">
            {
                skills.map((skill) => (
                    <SkillCard
                        skill={skill}
                        imgSrc={"/src/assets/icons/" + skill + ".svg"}
                    />
                ))
            }
        </div>
        <p class="subtitle">Learning</p>
        <div class="skills">
            {
                learning.map((skill) => (
                    <SkillCard
                        skill={skill}
                        imgSrc={"/src/assets/icons/" + skill + ".svg"}
                        learn={true}
                    />
                ))
            }
        </div>

        <p>I'm always try to keep up to date!</p>
    </section>
</BaseLayout>
<style>
    .skills {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 24px;
    }
    .subtitle {
        font-size: 24px;
        font-weight: 500;
    }
</style>
