---
import { Image } from "astro:assets";
import { fade } from "astro:transitions";
import BaseLayout from "./BaseLayout.astro";
import "../styles/pages.css";

const { data } = Astro.props;
---

<BaseLayout pageTitle={data.title}>
    <section class="section">
        <p>{data.pubDate.toString().slice(0, 10)}</p>
        <p transition:animate={fade({ duration: "300ms" })}>
            <em>{data.description}</em>
        </p>
        <p>Written by: {data.author}</p>
        <Image src={data.cover} alt={data.alt} width={data.cover.width} height={data.cover.height} />
        <slot />
    </section>
</BaseLayout>

<style>
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 4/3;
        object-position: center;
    }
</style>
